#title {
	-fx-background-color: #504A4B;
}

#uClear {
	-fx-text-fill: rgb(243,249,53);
	-fx-label-padding: 0.0 0.0 0.0 15.0;
}

#date {
	-fx-text-fill: rgb(243,249,53);
	-fx-alignment: center-right;
	-fx-label-padding: 0.0 20.0 0.0 0.0;
}

#response {
	-fx-text-fill: rgb(94,211,215);
	-fx-label-padding: 0.0 0.0 5.0 15.0;
}

.titleDivision {
	-fx-background-color: white;
}

#mainDisplay {
	-fx-background-color: rgb(127,127,127);
}

#listDisplay {
	-fx-background-color: rgb(127,127,127);
}

#inputPane {
	-fx-background-color: #504A4B;
}

#input {
	-fx-prompt-text-fill: rgb(179,179,179);
}

#listDisplay {
	-fx-max-page-indicator-count: 5;
	-fx-arrows-visible: false;
	-fx-tooltip-visible: false;
	-fx-page-information-visible: false;
}

.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, #DDF1F8, #0E5D79, white, white;
}
 
.pagination .pagination-control .bullet-button:selected {   
    -fx-background-color: transparent, #DDF1F8, #0E5D79, white, #0E5D79;
}