.root {
	-fx-font-family: "Arial";
}

#textfield {
	-fx-background-color: white;
	-fx-font-size: 18px;
}

#uclear {
	-fx-label-padding: 5.0 0 0 10.0;
}

#assert {
	-fx-label-padding: 0 0 0 13.0;
}

#date {
	-fx-label-padding: 0 10.0 0 0;
}

#toBeCompleted {
	-fx-padding: 10	10;
	-fx-font-size: 15px;
}