.root {
	-fx-font-family: "Arial Black";
}

#textfield {
	-fx-background-color: white;
	-fx-font-size: 20px;
}

#uclear {
	-fx-label-padding: 5.0 0 0 10.0;
}

#assert {
	-fx-font-weight: bold;
	-fx-label-padding: 0 0 0 13.0;
}

#date {
	-fx-font-weight: bold;
	-fx-label-padding: 0 10.0 0 0;
}

