#wholePane {
	-fx-font-family: roboto;
}

#title {
	-fx-background-color: #03a9f4;
	-fx-effect: dropshadow(three-pass-box, #192a3b, 3, 0, 0, 3);
}


#date {
	-fx-text-fill: white;
	-fx-alignment: center-right;
	-fx-label-padding: 0.0 10 0.0 0.0;
}

#response {
	-fx-text-fill: #e51c23;
	-fx-label-padding: 0.0 0.0 5.0 50;
}

.titleDivision {
	-fx-background-color: white;
}

#displayTitle {
	-fx-background-color: #03a9f4;
}

#displayTitleText {
	-fx-text-fill: white;
	-fx-padding: 0 0 0 50;
}

.feedbackText {
	-fx-background-color: white;
}

#mainDisplay {

}

#listDisplay {

}

.taskCard {
	-fx-background-color: white;
	-fx-background-radius: 2px;
	-fx-effect: dropshadow( one-pass-box, #bdbdbd, 10, 0, 0, 2);
}

.tags {
	-fx-text-fill: white;
	-fx-padding: 1.5px 10px 1.5px 10px;
	-fx-background-radius: 5px;
}

#inputPane {
	-fx-background-color: #212121;
}

#input {
	-fx-prompt-text-fill: rgb(179,179,179);
	-fx-background-color:  #212121;
	-fx-border-color: #212121 #212121 #03a9f4 #212121;
	-fx-text-fill: white;
}

#listDisplay {
	-fx-max-page-indicator-count: 7;
	-fx-arrows-visible: false;
	-fx-tooltip-visible: false;
	-fx-page-information-visible: false;
}

.scroll-bar {
	-fx-opacity: 0;
}

.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, transparent, #03a9f4, #03a9f4, #03a9f4;
    -fx-translate-y: -10;
    -fx-effect: dropshadow( one-pass-box, #bdbdbd, 3, 0, 0, 2);
}
 
.pagination .pagination-control .bullet-button:selected {   
    -fx-background-color: transparent, transparent, #e5e5e5, white, white;
    -fx-translate-y: -10;
    -fx-effect: dropshadow(one-pass-box, #bdbdbd, 3, 0, 0, 2);
}
